cmake-build-*
# Ignore everything
*

# Allow source and essential files
!*.cpp
!*.h
!CMakeLists.txt
!README.md
!LICENSE
!.gitignore
!.gitattributes
!.github/**
!.github/
**/
# Ignore build/editor junk
build/
out/
.vs/
.vscode/
.cache/
cmake-*/
# Ignore asm outputs
*.s
